
@{
    ViewData["Title"] = "Index";
}

<h1>Product Index</h1>
@*@{ 
    for (int i = 0; i < 5; i++)
    {
        <h3>Hello world @i</h3>
    }
}*@

<a asp-controller="Product" asp-action="ViewAll">View All Product</a>